/* Custom X icon container */
#custom-navbar-toggler {
    position: fixed;
    top: 0;
    right: 15px;
    width: 44px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.custom-toggler-icon::before,
.custom-toggler-icon::after {
    content: '';
    position: absolute;
    top: 10;
    width: 24px;
    /* Adjust the width of the X icon */
    height: 4px;
    border-radius: 10px;
    background-color: #000;
    /* Adjust the color as needed */
    transition: transform .5s ease;
}

body.bg-dark .custom-toggler-icon::before,
body.bg-dark .custom-toggler-icon::after {
    background-color: #fff;
    /* Light mode color */
}

.custom-toggler-icon::before {
    transform: rotate(42deg);
}

.custom-toggler-icon::after {
    transform: rotate(-42deg);
}

/* Animate the X icon when the button is clicked */
#custom-navbar-toggler.collapsed .custom-toggler-icon::before,
#custom-navbar-toggler.collapsed .custom-toggler-icon::after {
    transform: rotate(0deg);
}




/* Define initial styles for the icons */
#themeIcon {
    transition: transform 1s ease;
    /* Apply the transition to the 'transform' property */
}

/* When the button is clicked and the dark mode is active */
body.bg-dark #themeIcon {
    transform: rotate(360deg);
    /* Rotate the icon */
}



.theme-svg {
    width: 1.8rem;
    height: auto;
}

.theme-svg2 {
    width: 10vw;
    height: auto;
}

.about{
    position: relative;

}
.circle{
    position: absolute;
    top: 40vh;
    opacity: .5;
    /* background-color: beige; */
}
.x {
    /* width: 0px; */
    height: 10vw;
    position: absolute;
    opacity: 0.5;
    animation: rotation 40s linear infinite;
  }
  
  .mysql {
    animation-delay: -5s;
  }
  
  .vscode {
    animation-delay: -10s;
  }
  
  .python {
    animation-delay: -15s;
  }
  
  .xampp {
    animation-delay: -20s;
  }
  
  .html {
    animation-delay: -25s;
  }
  
  .aws {
    animation-delay: -30s;
  }
  
  .php {
    animation-delay: -35s;
  }
  
  .bootstrap {
    animation-delay: -40s;
  }
  
  @keyframes rotation {
    0% {
        transform: rotate(0deg) translateY(-40vw);

    }
  
    100% {
        transform: rotate(360deg) translateY(-40vw);

    }
  }
  