/* .blur-overlay {
  backdrop-filter: blur(2px); 
  z-index: 1;
} */



/* Custom X icon container */
#custom-navbar-toggler {
  /* position: relative;
  top: 0;
  right: 15px; */
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: '';
  position: absolute;
  top: 10;
  width: 24px;
  /* Adjust the width of the X icon */
  height: 4px;
  border-radius: 10px;
  background-color: #000;
  /* Adjust the color as needed */
  transition: transform .5s ease;
}

body.bg-dark .custom-toggler-icon::before,
body.bg-dark .custom-toggler-icon::after {
  background-color: #fff;
  /* Light mode color */
}

.custom-toggler-icon::before {
  transform: rotate(42deg);
}

.custom-toggler-icon::after {
  transform: rotate(-42deg);
}

/* Animate the X icon when the button is clicked */
#custom-navbar-toggler.collapsed .custom-toggler-icon::before,
#custom-navbar-toggler.collapsed .custom-toggler-icon::after {
  transform: rotate(0deg);
}




/* Define initial styles for the icons */
#themeIcon {
  transition: transform 1s ease;
  /* Apply the transition to the 'transform' property */
}

/* When the button is clicked and the dark mode is active */
body.bg-dark #themeIcon {
  transform: rotate(360deg);
  /* Rotate the icon */
}



.theme-svg {
  width: 1.8rem;
  height: auto;
}

.theme-svg2 {
  width: calc(5vh + 2vw);
  height: auto;
}


.about {
  position: relative;

}


:root {
  --radial-inner-color-light: #8000ff; /* Inner part (black) for light theme */
  --radial-outer-color-light:#9d4718; /* Outer part (white) for light theme */
}

#flashlight {
  position: absolute;
  z-index: -1;
  width: 150px; 
  height: 150px; 
  background-color: var(--radial-inner-color-light); 
  /* //change the blend mode  */
  /* mix-blend-mode: multiply;  */
  border-radius: 50%;
}
