:root {
  --radial-inner-color-light: #8000ff;
  /* Inner part (black) for light theme */
  --radial-outer-color-light: #9d4718;
  /* Outer part (white) for light theme */
  --cursor-size: 32px;
  --icon-path: url('icons/plus-circle.svg');


}

img{
  cursor: pointer;
}

/* .blur-overlay {
  backdrop-filter: blur(2px); 
  z-index: 1;
} */




/* Custom X icon container */
#custom-navbar-toggler {
  /* position: relative;
  top: 0;
  right: 15px; */
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: '';
  position: absolute;
  top: 10;
  width: 24px;
  /* Adjust the width of the X icon */
  height: 4px;
  border-radius: 10px;
  background-color: #000;
  /* Adjust the color as needed */
  transition: transform .5s ease;
}

body.bg-dark .custom-toggler-icon::before,
body.bg-dark .custom-toggler-icon::after {
  background-color: #fff;
  /* Light mode color */
}

.custom-toggler-icon::before {
  transform: rotate(42deg);
}

.custom-toggler-icon::after {
  transform: rotate(-42deg);
}

/* Animate the X icon when the button is clicked */
#custom-navbar-toggler.collapsed .custom-toggler-icon::before,
#custom-navbar-toggler.collapsed .custom-toggler-icon::after {
  transform: rotate(0deg);
}




/* Define initial styles for the icons */
#themeIcon {
  transition: transform 1s ease;
  /* Apply the transition to the 'transform' property */
}

/* When the button is clicked and the dark mode is active */
body.bg-dark #themeIcon {
  transform: rotate(360deg);
  /* Rotate the icon */
}



.theme-svg {
  width: 1.8rem;
  height: auto;
}

.theme-svg2 {
  width: calc(5vh + 2vw);
  height: auto;
  /* background-color: red; */
  cursor: cell;
}


/* 
#custom-cursor {
  position: absolute;
  width: var(--cursor-size);
  height: auto;
  background: var(--icon-path) no-repeat;
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out;
}

.theme-svg2:hover #custom-cursor {
  background-color: #fff; 
  width: var(--cursor-size);
  height: var(--cursor-size);
  transform: translate(-50%, -50%) scale(1);
} */






.about {
  position: relative;

}



@keyframes glow {
  0%, 100% {
    fill: #212529; /* Light Red/Pink for Black Background */
    filter: drop-shadow(0 0 6px rgba(49, 49, 49, 0.7)) brightness(120%);
  }
  50% {
    fill: #f8f9fa; /* Light Blue for White Background */
    filter: drop-shadow(0 0 6px rgba(219, 226, 212, 0.5)) brightness(150%);
  }
}











@keyframes rippleFlashlight {

  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }

  25% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1);
  }

  75% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

#flashlight {
  position: absolute;
  z-index: -1;
  width: 150px;
  height: 150px;
  background-color: var(--radial-inner-color-light);
  border-radius: 50%;

  /* Animation properties */
  animation-name: rippleFlashlight;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* Center the flashlight on the mouse pointer */
  transform: translate(-50%, -50%);
}



